/*!*****************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[3]!./src/@core/styles/table.module.css ***!
  \*****************************************************************************************************************************************************************************************************************************************************************************/
.table_table__cB3AL {
  inline-size: 100%;
  border-collapse: collapse;
  font-size: 0.8125rem;
  white-space: nowrap;
}

  .table_table__cB3AL [align='right'] > * {
    text-align: end;
  }

  .table_table__cB3AL [align='center'] > * {
    text-align: center;
  }

  .table_table__cB3AL thead {
    text-transform: uppercase;
    color: var(--mui-palette-text-primary);
    border-block-start: 1px solid var(--border-color);
  }

  .table_table__cB3AL thead th {
      font-weight: 500;
      font-size: 0.8125rem;
      letter-spacing: 0.2px;
      line-height: 1.8462;
      text-align: start;
      block-size: 56px;
    }

  .table_table__cB3AL thead th:not(:first-of-type):not(:last-of-type) {
        padding-block: 0.5rem;
        padding-inline: 1rem;
      }

  .table_table__cB3AL thead th:first-of-type:not(:has(input[type='checkbox'])) {
          padding-block: 0.5rem;
          padding-inline: 1.5rem 1rem;
        }

  .table_table__cB3AL thead th:first-of-type:has(input[type='checkbox']) {
          padding-inline-start: 0.9375rem;
        }

  .table_table__cB3AL thead th:last-of-type {
        padding-block: 0.5rem;
        padding-inline: 1rem 1.5rem;
      }

  .table_table__cB3AL tbody {
    color: var(--mui-palette-text-secondary);
  }

  .table_table__cB3AL tbody th,
    .table_table__cB3AL tbody td {
      font-size: 0.9375rem;
      line-height: 1.4667;
      block-size: 50px;
    }

  .table_table__cB3AL tbody th:not(:first-of-type):not(:last-of-type), .table_table__cB3AL tbody td:not(:first-of-type):not(:last-of-type) {
        padding-block: 0.5rem;
        padding-inline: 1rem;
      }

  .table_table__cB3AL tbody th:first-of-type:not(:has(input[type='checkbox'])), .table_table__cB3AL tbody td:first-of-type:not(:has(input[type='checkbox'])) {
          padding-block: 0.5rem;
          padding-inline: 1.5rem 1rem;
        }

  .table_table__cB3AL tbody th:first-of-type:has(input[type='checkbox']), .table_table__cB3AL tbody td:first-of-type:has(input[type='checkbox']) {
          padding-inline-start: 0.9375rem;
        }

  .table_table__cB3AL tbody th:last-of-type, .table_table__cB3AL tbody td:last-of-type {
        padding-block: 0.5rem;
        padding-inline: 1rem 1.5rem;
      }

  .table_table__cB3AL tbody tr:not(:last-child) {
      border-block-end: 1px solid var(--border-color);
    }

  .table_table__cB3AL tbody tr {
      border-block-start: 1px solid var(--border-color);
    }

.table_cellWithInput__N6u24 input {
  inline-size: 100%;
  background-color: transparent;
  font-size: inherit;
  color: inherit;
  border-radius: var(--mui-shape-customBorderRadius-sm);
  padding-block: 6px;
  padding-inline: 10px;
  margin-inline: -10px;
}

.table_cellWithInput__N6u24 input:focus-visible {
    outline: 1px solid var(--mui-palette-primary-main);
  }

/*!******************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[12].use[3]!./node_modules/keen-slider/keen-slider.min.css ***!
  \******************************************************************************************************************************************************************************************************************************************************************************************/
.keen-slider:not([data-keen-slider-disabled]){-webkit-touch-callout:none;-webkit-tap-highlight-color:transparent;align-content:flex-start;display:flex;overflow:hidden;position:relative;touch-action:pan-y;-webkit-user-select:none;-moz-user-select:none;user-select:none;-khtml-user-select:none;width:100%}.keen-slider:not([data-keen-slider-disabled]) .keen-slider__slide{min-height:100%;overflow:hidden;position:relative;width:100%}.keen-slider:not([data-keen-slider-disabled])[data-keen-slider-reverse]{flex-direction:row-reverse}.keen-slider:not([data-keen-slider-disabled])[data-keen-slider-v]{flex-wrap:wrap}
